.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 87px 51px 88px 51px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  min-width: 1440px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.lots {
  padding: 180px 50px 181px 48px;
}

.about {
  padding: 0px 50px 180px 50px;
}

.footer {
  padding: 0px 50px 50px 50px;
}

.header__layout {
  display: grid;
  grid-template-columns: 388px 148px 400px;
  gap: 209px;
  width: auto;
}

.header__menu {
  margin: auto;
  margin-left: 0;
}

.header__links-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32.5px;
  padding-bottom: 1px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  padding-top: 5px;
  padding-left: 5px;
}

.header__logo-image {
  width: 135px;
  height: 109px;
  padding-bottom: 4px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 240px;
  margin-top: 5px;
  margin-bottom: 12px;
  margin-left: 146px;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__link__adress {
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  min-height: inherit;
  min-width: inherit;
  z-index: 0;
  opacity: 0.6;
  background-color: black;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-left: 50px;
  color: white;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  align-self: center;
  padding-top: 12px;
  padding-right: 80px;
}

.aligned-text_right {
  align-self: end;
  padding-top: 5px;
  padding-right: 20px;
}

.letter-spacing-right {
  padding-left: 30px;
}

.letter-spacing-left {
  padding-right: 30px;
}

.cover__description {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-bottom: 50px;
}

.cover__description-text {
  padding-left: 422px;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: start;
  text-transform: uppercase;
  word-spacing: 17px;
}

.last-word-description-text {
  padding-left: 5px;
}

.button-container {
  align-self: center;
  padding-right: 50px;
}

.button {
  box-sizing: border-box;
  width: 257px;
  height: 52px;
  border: 1px solid white;
  background-color: rgba(28,28,28,0);
  color: #FFF;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__heading {
  padding-left: 42px;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-top: 28px;
  list-style-type: none;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
  min-width: 430px;
  min-height: 450px;
  width: 430px;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  flex-direction: column;
  justify-content: space-around;
  width: inherit;
  height: inherit;
  min-width: inherit;
  min-height: inherit;
}

.card__title_container {
  display: flex;
}

.card__text_container {
  display: flex;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card__title {
  z-index: 1;
  position: relative;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #FFF;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 119%;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  align-self: end;
  z-index: 1;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  color: #FFF;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  padding-top: 27px;
  padding-left: 42px;
  color: #000;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-underline-offset: 4px;
}

.about__columns {
  display: grid;
  grid-template-columns: 430px 885px;
  gap: 25px;
}

.about__column_logo {
  padding-right: 95px;
  padding-left: 95px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__column_discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.about__title {
  padding-top: 102px;
  color: #000;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 5px;
}

.about__text {
  color: #000;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.address_footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 240px;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 3px;
}

.footer__container-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links-list {
  color: #000;
  font-family: 'Raleway', 'Arial', sans-serif;;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-underline-offset: 3px;
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
  width: 240px;
}

.footer__link_active {
  text-decoration: none;
}